In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(100)

In [3]:
n_rows = 10_0000
n_cols = 2 # to represent rolling two dice per each simulation
rolls = np.random.choice([1, 2, 3, 4, 5, 6], size=(n_rows, n_cols))
rolls = pd.DataFrame(rolls, columns=["die1", "die2"])
rolls.head()

   die1  die2
0     1     1
1     4     1
2     3     5
3     3     6
4     3     3

In [4]:
n_simulations = nrows = 10**5
n_dice_rolled = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols).reshape(nrows, ncols)

(pd.DataFrame(rolls)
 .apply(lambda row: row[0] == row[1] , axis=1)
 .mean())

0.16611

In [ ]:
(rolls.sum(axis = 1) == 3).mean()

In [ ]:
pd.DataFrame(rolls)

In [ ]:
# EXERCISE 2

In [ ]:
n_rows = 10_000
n_cols = 8 # for flipping 8 coins at once
flips = np.random.choice(["Heads", "Tails"], size=(10_000, 8))
flips = pd.DataFrame(flips)

In [ ]:
(flips == "Heads").head()

In [ ]:
pd.DataFrame(flips)

In [ ]:
(flips.sum(axis = 1) > 3).mean()

In [ ]:
flips["n_heads"] = (flips == "Heads").sum(axis=1)
flips.head()

In [ ]:

(flips.sum(axis = 1) == 3).mean()

In [ ]:
# What's the probability of getting more than 3 heads
(flips.n_heads > 3).mean()

In [ ]:
# Exercise 3

In [ ]:
trips = 10**5
billboards = 2
Class = np.random.choice([1, 0, 0, 0], billboards * trips).reshape(trips, billboards)
Class

In [ ]:
pd.DataFrame(Class)

In [ ]:
(Class.sum(axis = 1) == 2).mean()

In [ ]:
n_rows = 10_000
n_cols = 2 # for 2 billboards in a row

billboards = np.random.choice(["Web Development", "Data Science"], p=[.75, .25], size=(n_rows, n_cols))
billboards = pd.DataFrame(billboards)

In [ ]:
billboards["number_of_data_science"] = (billboards == "Data Science").sum(axis=1)
(billboards.number_of_data_science == 2).mean()

In [ ]:
# Exercise 4

In [8]:
n_rows = 10_000
n_cols = 5 # to represent a 5 day week
µ = 3
σ = 1.5
poptarts = np.random.normal(µ, σ, size=(n_rows, n_cols)).round()
poptarts = pd.DataFrame(poptarts, columns=["Mon", "Tues", "Wed", "Thur", "Fri"])
poptarts.head()

   Mon  Tues  Wed  Thur  Fri
0  2.0   6.0  3.0   3.0  2.0
1  8.0   4.0  3.0   3.0  4.0
2  3.0   3.0  2.0   1.0  1.0
3  2.0   2.0  2.0   2.0  3.0
4  2.0   3.0  6.0   5.0  1.0

In [9]:
rows = 10**5
col = 5 
mean = 3 
std = 1.5 
pop = np.random.normal(mean,std, size = (rows, col)).round()
pop = pd.DataFrame(pop, columns = [ 'm', 't', 'w' , 'th' , 'f'])
pop.head()

     m    t    w   th    f
0  3.0  3.0  5.0  5.0  1.0
1  3.0  5.0  1.0  2.0  4.0
2  2.0  1.0  3.0  2.0  3.0
3  4.0  5.0  3.0  4.0  4.0
4  4.0  2.0  3.0  3.0  3.0

In [10]:
poptarts["n_consumed"] = poptarts.sum(axis=1)
poptarts.head()

   Mon  Tues  Wed  Thur  Fri  n_consumed
0  2.0   6.0  3.0   3.0  2.0        16.0
1  8.0   4.0  3.0   3.0  4.0        22.0
2  3.0   3.0  2.0   1.0  1.0        10.0
3  2.0   2.0  2.0   2.0  3.0        11.0
4  2.0   3.0  6.0   5.0  1.0        17.0

In [11]:
pop['eat'] = pop.sum(axis = 1)
pop.head()

     m    t    w   th    f   eat
0  3.0  3.0  5.0  5.0  1.0  17.0
1  3.0  5.0  1.0  2.0  4.0  15.0
2  2.0  1.0  3.0  2.0  3.0  11.0
3  4.0  5.0  3.0  4.0  4.0  20.0
4  4.0  2.0  3.0  3.0  3.0  15.0

In [12]:
(pop.eat < 17).mean()

0.66969

In [13]:
# What's the chance we can buy poptarts on Friday afternoon
# This setup would predicate 
(poptarts.n_consumed < 17).mean()

0.6629

In [ ]:
# exercise 5

In [20]:
def How_tall():
    male = np.random.normal(178, 8, size= 10**5),
    female = np.random.normal(170, 6, size= 10**5),
    (female > male). mean()
    return (female > male). mean()

In [35]:
ale = np.random.normal(178, 8, size= 10**5),
female = np.random.normal(170, 6, size= 10**5),
(female > male). mean()

0.20974

In [15]:
m_heights = np.random.normal(178, 8, size=10_000)
f_heights = np.random.normal(170, 6, size=10_000)
(f_heights > m_heights).mean()

0.2133

In [ ]:
# Exercise 6

In [36]:

n_rows = 100_000
n_columns = 50

installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))

(installs.sum(axis=1) == 50).mean()

0.82016

In [41]:
rows = 1000 * 100
columns = 10 * 5

install = np.random.choice([0, 1], p = [0.004, 0.996], size = (rows, columns))

(install.sum(axis = 1)== 10 * 5).mean()

0.81714

In [45]:
columns = 10 * 10

install = np.random.choice([0, 1], p = [0.004, 0.996], size = (rows, columns))

(install.sum(axis = 1)== 10 * 10).mean()

0.66932

In [47]:
columns = 10 * 45

install = np.random.choice([0, 1], p = [0.004, 0.996], size = (rows, columns))

(install.sum(axis = 1)== 10 * 45).mean()

0.16414

In [ ]:
# Exercise 7

In [48]:
# First Generated Test 
rows = 1000 * 10 
col = 3 
food_t = np.random.choice([1, 0], size=(n_rows, n_cols), p=[0.7, 0.3])

In [49]:
(food_t.sum(axis=1) == 0).mean()

0.00242

In [52]:
cols = 5 
food_t = np.random.choice([1, 0], size=(n_rows, n_cols), p=[0.7, 0.3])
(food_t.sum(axis=1) > 0).mean()

0.9089

In [51]:
cols = 2 
food_t = np.random.choice([1, 0], size=(n_rows, n_cols), p=[0.7, 0.3])
(food_t.sum(axis=1) > 0).mean()

0.9104

## Exercise 8
If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [61]:
rows = 1000 * 10
col = 23 
b_day = np.random.choice(range(365), size=(rows, col))
b_day = pd.DataFrame(b_day)
b_day["n_unique"] = b_day.nunique(axis=1)

(b_day.n_unique != 23).mean()

0.5089

In [64]:
rows = 1000 * 10
col = 20 
b_day = np.random.choice(range(365), size=(rows, col))
b_day = pd.DataFrame(b_day)
b_day["n_unique"] = b_day.nunique(axis=1)

(b_day.n_unique != 20).mean()

0.4039

In [65]:
rows = 1000 * 10
col = 40
b_day = np.random.choice(range(365), size=(rows, col))
b_day = pd.DataFrame(b_day)
b_day["n_unique"] = b_day.nunique(axis=1)

(b_day.n_unique != 40).mean()

0.8895